# ignore .idea
*/.idea/

# ignore cmake generated stuff
Client/Build
**/cmake-build-debug/

# dont commit your loot
Teamserver/data/loot/

# dont commit your secrets
Client/Data/database.db

# ignore go stuff
Teamserver/go.sum

# ignore compiled binaries
Client/Havoc
Teamserver/teamserver

# ignore MUSL C Compiler stuff
Teamserver/data/x86_64-w64-mingw32-cross/

# ignore havoc binary
havoc

# ignore data directory
data/

# ignore client directories
client/Build/
client/Havoc
client/Modules/
